/*
// Floorworks CSS file
// 
// Must be in same folder as index.html
*/

.mainContent {
	width: 920px;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	margin-left: auto;
	margin-right: auto;
	border: none;
	padding: none;
}

#logo a {border: none;}

#logo a img {border: none;}


#estDate {
	margin-left: auto;
	margin-right: auto;
	font-family: Georgia, Serif;
	font-size: 16px;
	font-weight: bolder;
	
}

#blackNavBarBorder1 {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -10px;
	padding: 0px;
	border: 0px;
	
}

#blackNavBarBorder2 {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding: 0px;
	border: 0px;
	
}

#blackNavBarBorder2 {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	padding: 0px;
	border: 0px;
	
}

#tabBar {
	margin-left: auto;
	margin-right: auto;
	padding:none;
	height: 35px;
	width: 920px;
	position: relative;
}

#tabBar ul {
	border-style: none;
	
}

#tabBar li {
	display: inline;	
}
	
#tabBar li:first-child {
	margin-left: -35px;
}

a.tabButton:link, a.tabButton:visited, a.tabButton:active {
	text-decoration: none;
	color: #FFFFFF;
	font-family: Helvetica, Sans Serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding: 8px 18px 0px 18px;
	border: none;
	min-width: 50px;
	height: 27px;
	display: inline-block;
	background-image: url('../images/tab.png');
}

a.tabButton:hover {
	text-decoration: none;
	color: #42331E;
	font-family: Helvetica, Sans Serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	padding: 8px 18px 0px 18px;
	border: none;
	min-width: 50px;
	height: 27px;
	display: inline-block;
	background-image: url('../images/tab.png');
}

a.solutionsButton:link,  a.solutionsButton:active, a.solutionsButton:visited {
	text-decoration: none;
	font-family: Georgia, Tahoma, Sans Serif;
	font-size: 22px;
	font-weight: bold;
	color: #000000;
	width: 920px;

}
	
a.solutionsButton:hover {
	text-decoration: none;
	font-family: Georgia, Tahoma, Serif;
	font-size: 22px;
	font-weight: bold;
	color: #D60000;
	width: 920px;
}

#indexMainContent {
	margin-top: 20px;
	margin-left: 10px;
	font-family: Georgia, Sans Serif;
	font-size: 14px;
	color: #000000;
	
	
}


.indexMainContent {
	vertical-align: top;
	margin: 3px;
}


.indexMainContent ul {
	margin-left: -15px;
	
}

.indexMainContent a {border: none;}

.indexMainContent a img {border: none;}

.mainContentWrapper {
	margin-top: 30px;
	font-family: Georgia, Sans Serif;
	font-size: 14px;
	color: #000000;
	
}

.mainContent {
	vertical-align: top;
	padding: 3px;
	
}

#click {
	font-size: 12px;
	margin-top: 3px;
	margin-bottom: -12px;
}

#bottomQuote1 {
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-family: Georgia, Serif;
	color: #000000;
	
}

#bottomQuote2 {
	margin-left: auto;
	margin-right: auto;
	font-size: 13px;
	font-family: Georgia, Serif;
	color: #000000;
	
}


#bottomNav {
	margin-left: auto;
	margin-right: auto;
	border: none;
	background: none;
}

#bottomNav li {
	display: inline;
	
}

.copyright {
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	font-size: 11px;
	color: #595959;
}

.copyright a:link {
	text-decoration: none;
	color: #595959;
	
}

.copyright a:active {
	text-decoration: none;
	color: #595959;
	
}

.copyright a:visited {
	text-decoration: none;
	color: #595959;
	
}

.copyright a:hover {
	text-decoration: none;
	color: #2600FF;
}

a.bottomNavButton:link, a.bottomNavButton:active, a.bottomNavButton:visited {
	text-decoration: none;
	color: #6B6864;
	font-size: 10px;
	font-family: Tahoma, Sans Serif;
	font-size: 10px;
}

a.bottomNavButton:hover {
	text-decoration: none;
	color: #F46565;
	font-size: 10px;
	font-family: Tahoma, Sans Serif;
	font-size: 10px;

}

.flooringMainContent {
	margin: 25px;
	width: 900px;
	padding: 3px;
}

.flooringMainContentText {
	font-family: News Cycle, Palatino, Serif;
	font-size: 15px;
	padding: 0px 10px;
	text-align: justify;
	width: 420px;
	vertical-align: top;
	
}

.flooringMainContentText h2 {
	
	font-family: News Cycle, Georgia, Serif;
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 25px;

}

.flooringMainContentText ul li: first-child {
	margin-top: 15px;
}

.flooringMainContentText ul li {
	margin-bottom: 5px;
}

.flooringMainContentImage {
	border-style: inset;
	border-width: 8px;
	border-color: #666666;
	padding: -1px;
	width: 480px;
}

.flooringBrandImages td {
	padding: 3px;
	margin: 2px;
	vertical-align: middle;
	
}

#contactUsHeader {
	padding: 20px 0px 0px 0px;
	border:none;
	font-family: News Cycle Regular, Tahoma Sans Serif;
	font-size: 24px;
	font-weight: bolder;
	
}

#googleMap {
	border: none;
	padding: none;
	margin: none;
	
}	

.galleryHeader {
	font-family: New York, Serif;
	font-size: 24px;
	font-weight: bold;
	background-color: #760000;
	color: #FFFFFF;
	border-color: #545454;
	border-style: outset;
	border-width: 7px;
	margin: 15px;
	padding: 5px;
	width: 150px;
}
.galleryHeader a:link, a:visited {
	border: none;
	text-decoration: none;
	color: #FFFFFF;
}

.galleryHeader a:active {
	border: none;
	text-decoration: none;
	color: #B0B0B0;
}

.galleryHeader a:hover {
	border: none;
	text-decoration: none;
	color: #B0B0B0;
}

.galleryHeader a img{
	border: none;
}

.contactUsContent {
	font-family: Tahoma, Serif;
	font-size: 16px;
	color: #000000;
	margin: 10px;
}

